<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<%= form_tag("/discussions", :method => "post", :enctype => "multipart/form-data") do %>
    <%= label_tag(:author, "Author:") %>
    <%= text_field_tag(:author) %>

    <%= label_tag(:text, "Text:") %>
    <%= text_field_tag(:text) %>

    <%= label_tag(:file, "File:") %>
    <%= file_field_tag(:file) %>

    <%= hidden_field_tag(:board_id, @board.id) %>

    <%= submit_tag("Send") %>
<% end %>