<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<%= form_tag("/discussions", :class => "new_post", :method => "post", :enctype => "multipart/form-data") do %>
    <div class="form-row">
      <div class="label"><%= label_tag(:author, "Author:") %></div>
      <div class="field"><%= text_field_tag(:author) %></div>
    </div>

    <div class="form-row">
      <div class="label"><%= label_tag(:title, "Title:") %></div>
      <div class="field"><%= text_field_tag(:title) %></div>
    </div>

    <div class="form-row">
      <div class="label"><%= label_tag(:text, "Text:") %></div>
      <div class="field"><%= text_area_tag(:text) %></div>
    </div>

    <div class="form-row">
      <div class="label"><%= label_tag(:file, "File:") %></div>
      <div class="field"><%= file_field_tag(:file) %></div>
    </div>

    <%= submit_tag("Send") %>
<% end %>