<% if @post && @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<%= form_for([@discussion, @discussion.posts.build]) do |f| %>
    <div class="form-row">
      <div class="label"><%=  f.label :author %></div>
      <div class="field"><%=  f.text_field :author %></div>
    </div>

    <div class="form-row">
        <div class="label"><%=  f.label :title %></div>
        <div class="field"><%=  f.text_field :title %></div>
    </div>

    <div class="form-row">
      <div class="label"><%=  f.label :text %></div>
      <div class="field"><%=  f.text_area :text %></div>
    </div>

    <div class="form-row">
      <div class="label"><%=  f.label :file %></div>
      <div class="field"><%=  f.text_field :file %></div>
    </div>

    <%= submit_tag("Send") %>
<% end %>