<% if post.id %>
<div class="post clearfix">
    <div class="image">
      <div class="info">
        <%= post.file_file_name %> (<%= post.file_file_size %>)
      </div>
      <a href="#"><%= image_tag post.file.url %></a>
    </div>

    <div class="head">
        <span class="title">
            <%= post.title %>
        </span>

        <span class="author">
            <%= post.author != "" ? post.author : "Anonymous" %>
        </span>

        <span class="time">
            <%= post.added_at.to_s(:long) %>
        </span>

        <span class="id">
            <a href="#">#<%= post.id %></a>
        </span>
    </div>

    <div class="text">
        <%= simple_format(post.text.to_s) %>
    </div>
</div>
<% end %>