<div class="post op clearfix">
    <div class="image">
      <div class="info">
        <%= @op_post.file_file_name %> (<%= @op_post.file_file_size %>)
      </div>
      <a href="#"><%= image_tag @op_post.file.url %></a>
    </div>

    <div class="head">
        <span class="title">
            <%= @op_post.title %>
        </span>

        <span class="author">
            <%= @op_post.author != "" ? @op_post.author : "Anonymous" %>
        </span>

        <span class="time">
            <%= @op_post.added_at.to_s(:long) %>
        </span>

        <span class="id">
            <a href="#">#<%= @op_post.id %></a>
        </span>
    </div>

    <div class="text">
        <%= simple_format(@op_post.text.to_s) %>
    </div>
</div>