<div class="post">
    <div class="head">
        <span class="title">
            <%= post.title %>
        </span>

        <span class="author">
            <%= post.author != "" ? post.author : "Anonymous" %>
        </span>

        <span class="time">
            <%= post.added_at && post.added_at.to_s(:added_time) %>
        </span>

        <span class="id">
            <a href="#">#<%= post.id %></a>
        </span>
    </div>
    <%= simple_format(post.text.to_s) %>
</div>